<!DOCTYPE html>
<html lang="en">
  <head>
    <title>AG's Blog</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="static/home.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="static/logo.jpg">
  </head>
  <body>

  <div class="header">
    <nav>

      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/">Blogs</a></li>
        <li><a href="/">Contact Me</a></li>
      </ul>
      <img src="static/menu.png" class='menu-icon'>
    </nav>
  </div>
<!--  <img class="bg-img" src="static/bg.jpg" alt="Background">-->

  </body>
</html>
