<!DOCTYPE html>
<html lang="en">
  <head>
    <title>AG's Blog</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="static/home.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="static/logo.jpg">
  </head>
  <body>

  <div class="header">
    <nav>

      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="{{ url_for('blogs') }}">Blogs</a></li>
        <li><a href="/">Contact Me</a></li>
      </ul>
    <a href="{{ url_for('blogs') }}">
      <button class="btn" type="button">
        <img src="static/account.png" class='menu-icon' />
      </button>
    </a>
    </nav>
  </div>
  <p class="head-one">A BLOG ABOUT</p>
  <p class="head-two">Storytelling and Tech</p>
  <div class="intro-text">
    <p class="text-one">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
    <p class="text-two">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
      and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
  </div>
  <div class="left-text">
    <p>It is a long-established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
      as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum'
      will uncover many websites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
    </p>
  </div>
<div class="test" data-mc-src="e35f2f94-eae9-4fae-a768-df9b4c504dac#instagram"></div>

<script
  src="https://cdn2.woxo.tech/a.js#62909c06d6b402002fc76d6e"
  async data-usrc>
</script>
<iframe id="reddit-embed" src="https://www.redditmedia.com/r/ExposurePorn/comments/uy9jkz/galactic_core_suspended_over_loowit_washington/?ref_source=embed&amp;ref=share&amp;embed=true&amp;theme=dark" sandbox="allow-scripts allow-same-origin allow-popups" style="border: none;" height="547" width="640" scrolling="no"></iframe>
<widgetbot
  server="907476828720083035"
  channel="907476828720083039"
  width="1000"
  height="600"
></widgetbot>
<script src="https://cdn.jsdelivr.net/npm/@widgetbot/html-embed"></script>
  </body>
</html>
